# API Clash Royale
CLASH_API_KEY=sua_api_token_clash
CLASH_API_BASE_URL=https://api.clashroyale.com/v1
PLAYER_TAG=#sua_player_tag

# AWS
AWS_DEFAULT_REGION=us-east-2
AWS_ACCESS_KEY_ID=sua_key
AWS_SECRET_ACCESS_KEY=sua_secret_key
S3_BUCKET_NAME=clashr-account-data-lake
S3_ATHENA_RESULTS=clashr-account-data-athena-results
GLUE_DATABASE=clashr-account-data
GLUE_JOB_BATTLES=clashr-silver-battles
GLUE_JOB_PROFILE=clashr-silver-profile
GLUE_JOB_METRICS=clashr-silver-to-gold

# Monitoramento
ALERT_EMAIL=seu@email.com
CLOUDWATCH_NAMESPACE=clash_etl